build/
docsOut/
run/
out/
changelog.md
runServer
changelog_cot.md
*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin
/out

*.classpath
*.project
/.gradle
/.settings
/.idea
*.iml
*.ipr
*.iws
/.metadata/*
*.eml
/run
/runServer
/run_server
*.stackdump
*.log
*/.settings
*/build

*.launch

*.db
/classes/
desktop.ini
runServer/
cot_changelog.md

secrets.json

buildSrc/.gradle/
Fabric/.gradle/
