build/
docsOut/
run/
run_server/
out/
changelog.md
runServer
changelog_cot.md
*.class

# Package Files #
*.war
*.ear
/build
/eclipse
/bin
/out

*.classpath
*.project
**/.gradle
/.settings
/.idea
*.iml
*.ipr
*.iws
/.metadata/*
*.eml
*.stackdump
*.log
*/.settings
*/build

*.launch

*.db
/classes/
desktop.ini
cot_changelog.md

secrets.json
